.social-background{
    width: 100%;
    height: 140px;
    background-color: #F8EFEF;
    margin: 0px 0px 99px 0px;
}
.social-media{
    width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}
.social-media-icon{
    width: 670px;
    float: right;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.social-media-icon__ic{
    width: 70px;
    height: 70px;
}
.social-media__title{
    width: 470px;
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin: 0px 0px 18px 0px;
}
.social-media__subtitle{
    width: 470px;
    height: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #86878B;
    margin: 0px 0px 18px 0px;
}

@media (max-width: 1024px){
    .social-background{
        height: 105px;
        margin: 0px 0px 50px 0px;
    }
    .social-media{
        max-width: 992px;
        height: 105px;
    }
    .social-media-icon{
        max-width: 568px;
        margin-top: 25px;
    }
    .social-media-icon__ic{
        max-width: 64px;
        height: 64px;
    }
    .social-media__title{
        max-width: 402px;
        height: 45px;
        font-size: 18px;
        line-height: 25px;
        margin: 0px 0px 13px 0px;
    }
    .social-media__subtitle{
        max-width: 402px;
        height: 32px;
        font-size: 14px;
        line-height: 16px;
        margin: 0px 0px 13px 0px;
    }
}
@media (max-width: 320px){
    .social-background{
        height: 239px;
    }
    .social-media{
        display: flex;
        flex-direction: column;
        max-width: 288px;
        height: 239px;
    }
    .social-media-icon{
        max-width: 284px;
        margin: 32px 0px 0px 0px;
        order: 3;
    }
    .social-media-icon__ic{
        max-width: 26px;
        height: 26px;
    }
    .social-media__title{
        max-width: 288px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 31px 0px 0px 0px;
        order: 1;
    }
    .social-media__subtitle{
        max-width: 271px;
        height: 48px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 13px 0px 0px 0px;
        order: 2;
    }
}

