main {
    width: 100%;
}
.awesome {
    width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}
.awesome-text__title {
    width: 1170px;
    height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    min-height: 150px;
    display: table-cell;
    vertical-align: middle;
    color: #000000;
}
.awesome-text__imgline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.awesome-text__subtitle {
    width: 1169px;
    height: 21 px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin: 0px 0px 71px 0px;
}
.awesome-content{
    width: 100%;
    margin-bottom: 58px;
    display: flex;
    justify-content: space-between;
}
.awesome-content-item{
    width: 370px;
    display:inline-block;
}
.awesome-content-item__icon {
    width: 170px;
    margin-left: 100px;
}
.awesome-content-item__title{
    width: 369px;
    height: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    min-height: 100px;
    display: table-cell;
    vertical-align: middle;
}
.awesome-content-item__text{
    width: 370px;
    height: 105px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 8px 0px 0px 0px;
}
@media (max-width: 1024px){
    .awesome{
        max-width: 992px;
    }
    .awesome-text__title {
        max-width: 992px;
        height: 120px;
        font-size: 24px;
        font-weight: 400px;
        line-height: 28px;
    }
    .awesome-text__subtitle{
        max-width: 992px;
        height: 16px;
        font-size: 14px;
        font-weight: 400px;
        line-height: 16px;
    }
    .awesome-text__imgline{
        max-width: 142px;
    }
    .awesome-content-item{
        max-width: 317px;
    }
    .awesome-content-item__icon{
        max-width: 147px;
        height: 147px;
        margin-left: 85px;
    }
    .awesome-content-item__title{
        max-width: 317px;
        height: 82px;
        font-size: 18px;
        font-weight: 700px;
        line-height: 25px;
    }
    .awesome-content-item__text{
        max-width: 317px;
        height: 80px;
        font-size: 14px;
        font-weight: 400px;
        line-height: 16px;
    }
}
@media (max-width: 320px){
    .awesome{
        max-width: 288px;
    }
    .awesome-text__title {
        max-width: 288px;
        height: 120px;
    }
    .awesome-text__subtitle{
        max-width: 288px;
        height: 30px;
        font-size: 13px;
        line-height: 15px;
        margin: 25px 0px 50px 0px;
    }
    .awesome-text__imgline{
        max-width: 134px;
        margin: 0 auto;
    }
    .awesome-content{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .awesome-content-item{
        max-width: 288px;
    }
    .awesome-content-item__icon{
        margin-left: 69px;
    }
    .awesome-content-item__title{
        max-width: 288px;
        height: 82px;
        margin: 10px 0px 9px 0px;
    }
    .awesome-content-item__text{
        max-width: 288px;
        height: 80px;
        margin-bottom: 10px;
    }
}



