header{
    width: 100%;
    background-color: black;
    display: inline-block;
}
.logo-header{
    width: 183.1px;
    height: 74.85px;
    float: left;
    margin-left: 115.28px;
    display: flex;
    align-items: center;
}
.logo-header__ax{
    width: 51.81px;
    height: 30.69px;
    margin-right: 2.81px;
}
.logo-header__it{
    width: 32.17px;
    height: 30.69px;
}
.menu__vector{
    display: none;
}
.menu{
    width: 570px;
    height: 75px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin-left: auto;
    margin-right: 170px;
}
.menu__text{
    width: 113.8px;
    height: 75px;
    margin: 0 auto;
}
@media (max-width: 1024px){  
    .menu{
        width: 566px;
        margin-right: 20px;
    }  
    .menu__text{
        max-width: 113px;
    }
}
@media (max-width: 320px){
    header{
        height: 56px;
    }
    .logo-header{
        max-width: 130px;
        height: 56px;
        margin-left: 20px;
    }
    .logo-header__ax{
        width: 38.69px;
        height: 22.92px;
        margin-right: 2.1px;
    }
    .logo-header__it{
        width: 24.02px;
        height: 22.92x;
    }
    .menu__vector{
        display: block;
        margin: 19px 35px 19px 261px;
    }
    .menu{
        display: none;
    }
}