footer{
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    text-align: center;
}
.social{ 
    width: 569.2px;
    height: 53.2px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    /* margin-left: 470px;
    margin-right: 470.8px; */
    margin: 0 auto;
}
.text{
    width: 1169px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
    opacity: 50%;
    padding-top: 27.8px;
    padding-bottom: 27px;
    /* margin-left: 170px;
    margin-right: 171px; */
    margin: 0 auto;
}
