body {
    margin: 0;
}
main {
    width: 100%;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}
.container-tab__head-one {
    width: 201px;
    height: 34px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    display: inline-block;
    min-height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
}
.container-tab__head-two {
    width: 184px;
    height: 34px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    min-height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #C6CBCD;
}
.container-tab__head-three {
    width: 184px;
    height: 34px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    min-height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #C6CBCD;
}
.container-tab__head-four {
    width: 600px;
    height: 34px;
    display: inline-block;
    min-height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #C6CBCD;
}
.container-text{
    width: 1170px;
    height: 501px;
    border-right:1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
    margin-bottom: 50px;
}
.container-text__image{
    float: right;
}
.container-text__title{
    width: 570px;
    height: 124px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    min-height: 124px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 100px;
}
.container-text__subtitle{
    width: 570px;
    height: 210px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin: 27px 0px 27px 0px;
    padding-left: 100px;
}
.container-text__download{
    padding-left: 100px;
}

@media (max-width: 1024px){
    .container{
        max-width: 992px;
    }
    .container-tab__head-one{
        max-width: 170.12px;
    }
    .container-tab__head-two{
        max-width: 156.01px;
    }
    .container-tab__head-three{
        max-width: 156.01px;
    }
    .container-tab__head-four{
        max-width: 508.72px;
    }
    .container-text{
        max-width: 992px;
        height: 386px;
    }
    .container-text__image{
        max-width: 398.21px;
        height: 385px;
    }
    .container-text__title{
        max-width: 482.89px;
        height: 89px;
        font-size: 24px;
        font-weight: 700px;
        line-height: 33px;
        padding-left: 84.68px;
    }
    .container-text__subtitle{
        max-width: 482.98px;
        height: 112px;
        font-size: 14px;
        font-weight: 400px;
        line-height: 16px;
        padding-left: 84.68px;
        margin: 38px 0px 38px 0px;
    }
    .container-text__download{
        max-width: 231.87px;
        height: 58px;
        padding-left: 84.68px;
    }
    .tab{
        display: none;
    }
}
@media (max-width: 320px){
    .container{
        max-width: 288px;
    }
    .container-tab__head-one{
        max-width: 100.86px;
    }
    .container-tab__head-two{
        max-width: 93.67px;
    }
    .container-tab__head-three{
        max-width: 93.57px;
    }
    .container-tab__head-four{
        display: none;
    }
    .container-text{
        max-width: 288px;
        height: 431px;
    }
    .container-text__image{
        display: none;
    }
    .container-text__title{
        max-width: 242.74px;
        height: 112px;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 24.69px;
        margin: 0px 0px 29px 0px;
    }
    .container-text__subtitle{
        max-width: 242.74px;
        height: 180px;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 24.69px;
        margin: 0px 0px 29px 0px;
    }
    .container-text__download{
        max-width: 242.74px;
        height: 50px;
        padding-left: 24.69px;
    }
    .tab{
        display: none;
    }
}
