body {
    margin: 0;
}
main {
    width: 100%;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.container-tab__head-one {
    width: 201px;
    height: 34px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    display: inline-block;
    min-height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
}
.container-tab__head-two {
    width: 184px;
    height: 34px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    min-height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #C6CBCD;
}
.container-tab__head-three {
    width: 184px;
    height: 34px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    min-height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #C6CBCD;
}
.container-tab__head-four {
    width: 600px;
    height: 34px;
    display: inline-block;
    min-height: 34px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #C6CBCD;
}
.container-text{
    width: 1170px;
    height: 501px;
    border-right:1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
    margin-bottom: 50px;
}
.container-text__image{
    float: right;
}
.container-text__title{
    width: 570px;
    height: 124px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 27px;
    min-height: 124px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 100px;
}
.container-text__subtitle{
    width: 570px;
    height: 210px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    padding-left: 100px;
}
.container-text__download{
    padding-left: 100px;
}

