footer{
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    text-align: center;
}
.social{ 
    width: 569.2px;
    height: 53.2px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.text{
    width: 1169px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
    opacity: 50%;
    padding-top: 27.8px;
    padding-bottom: 27px;
    margin: 0 auto;
}
@media (max-width: 1024px){
    .social{
        max-width: 477px;
        height: 45px;
    }
    .social__icon{
        max-width: 45px;
        height: 45px;
    }
    .text{
        width: 992px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 38px;
        padding-bottom: 30px;
    }
}
@media (max-width: 320px){
    .social{
        max-width: 284px;
        height: 26px;
    }
    .social__icon{
        max-width: 26px;
        height: 26px;
    }
    .text{
        width: 288px;
        height: 16px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 42px;
        padding-bottom: 45px;
    }
}

